snippet icd "#include directive" b
#include <$1>
$0
endsnippet

snippet random "Generate a random list" b
// Generate a random sequence of length len, in range(low, high) (inclusive).
// need to #include<random>
vector<int> genRandom(int low, int high, int len){
	std::random_device rd;
	std::mt19937 gen(rd());
	std::uniform_int_distribution<int> distribution(low, high);

	vector<int> arr(len, 0);
	for (int i = 0; i != len; ++i){
		arr[i] = distribution(gen);
	}

	return arr;
}
endsnippet

snippet vec "std::vector" w
vector<$1> ${2:vec}
endsnippet

snippet map "std::map" w
map<$1, $2> ${3:mymap}
endsnippet

snippet umap "std::unordered_map"
unordered_map<$1, $2> ${3:mymap}
endsnippet

snippet set "std::set" w
set<$1> ${2:myset}
endsnippet

snippet uset "std::unordered_set" w
unordered_set<$1> ${2:myset}
endsnippet

snippet queue "std::queue" w
queue<$1> ${2:q}
endsnippet

snippet stack "std::stack" w
stack<$1> ${2:mystack}
endsnippet

snippet sol "solution" w
auto solution = Solution();
$0
endsnippet

snippet for "for loop" w
for($1; $2; $3) {
	$4
}
endsnippet

snippet if "if condition" w
if($1) {
	$2
}
$0
endsnippet

snippet ifelse "if else condition"
if($1) {
	$2
} else {

}
endsnippet

snippet /** "doc comment"
/**
 * \brief $1
 */
endsnippet
